# Day 9
---

## DataStore

- RDMS (SQLite, MySQL, PostgreSQL)
- Text Format (CSV, JSON)
- NoSQL ( MongoDB, CouchDB)
- Fast Binary (HDF5)

### CSV

In [1]:
import csv

In [2]:
with open('names.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    print(list(reader))

[OrderedDict([('id', '1'), (' firstname', ' harry'), (' lastname', ' potter'), (' age', ' 17')]), OrderedDict([('id', '2'), (' firstname', ' Hermaine'), (' lastname', ' Granger'), (' age', ' 17')]), OrderedDict([('id', '3'), (' firstname', ' Ron'), (' lastname', ' Weasly'), (' age', ' 17')]), OrderedDict([('id', '4'), (' firstname', ' Neville'), (' lastname', ' Longbottom'), (' age', ' 17')]), OrderedDict([('id', '5'), (' firstname', 'Luna'), (' lastname', 'Lovegood'), (' age', '17')]), OrderedDict([('id', '6'), (' firstname', 'Tom'), (' lastname', 'Weasly'), (' age', '19')]), OrderedDict([('id', '7'), (' firstname', 'Tom'), (' lastname', 'Weasly'), (' age', '19')])]

In [3]:
from collections import OrderedDict

In [4]:
from collections import namedtuple

In [5]:
color = (175, 168, 196)

In [6]:
color[0]

175

In [8]:
class Color1:
    red = 175
    green = 168
    blue = 196
    
    def __init__(self, red, green, blue):
        self.red = red
        self.green = green
        self.blue = blue

In [9]:
c1 = Color1(176, 188, 192)

In [10]:
c1.red

176

In [11]:
c1.red = 134

In [12]:
c1.red

134

In [13]:
Color = namedtuple('Color', ['red', 'green', 'blue'])

In [14]:
c = Color(123, 189, 65)

In [15]:
c.red

123

In [16]:
c.red = 987

AttributeError: can't set attribute

In [18]:
with open('names.csv') as csvfile:
    reader = csv.DictReader(csvfile, fieldnames=['id', 'firstname', 'lastname', 'age'])
#     next(reader)
    for line in reader:
        print(line['firstname'])

 firstname
 harry
 Hermaine
 Ron
 Neville
Luna
Tom
Tom

In [19]:
with open('names.csv') as csvfile:
    reader = csv.DictReader(csvfile, fieldnames=['id', 'firstname', 'lastname', 'age'])
    next(reader)
    for line in reader:
        print(line['firstname'])

 harry
 Hermaine
 Ron
 Neville
Luna
Tom
Tom

In [20]:
with open('names.csv', 'a') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=['id', 'firstname', 'lastname', 'age'])
    writer.writerow({'id': 5, 'firstname': 'Luna', 'lastname': 'Lovegood', 'age': 17})

In [21]:
with open('names.csv', 'a') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=['id', 'firstname', 'lastname', 'age'])
    writer.writerows([
        {'id': 6, 'firstname': 'Tom', 'lastname': 'Weasly', 'age': 19},
        {'id': 7, 'firstname': 'Tom', 'lastname': 'Weasly', 'age': 19}
    ])

### SQLite

In [22]:
import sqlite3

In [26]:
conn = sqlite3.connect('data.sqlite3')

In [27]:
cur = conn.cursor()

In [28]:
cur.execute('CREATE TABLE characters(id integer, firstname text, lastname text, age integer)')

In [29]:
cur.execute('SELECT * FROM characters')

In [30]:
cur.fetchall()

[]

In [31]:
cur.execute('INSERT INTO characters(id, firstname, lastname, age) VALUES(11, "Harry", "Potter", 17)')

In [32]:
cur.execute('SELECT * FROM characters')

In [33]:
cur.fetchone()

(11, 'Harry', 'Potter', 17)

"INSERT INTO characters(id) VALUES(" + line['id'] + ")"

In [34]:
sql = """INSERT INTO characters(id, firstname, lastname, age) VALUES(?, ?, ?, ?)"""
with open('names.csv') as csvfile:
    reader = csv.DictReader(csvfile, fieldnames=['id', 'firstname', 'lastname', 'age'])
    print(reader)
    next(reader)
    print(reader)
    for line in reader:
        cur.execute(sql, (line['id'], line['firstname'], line['lastname'], line['age']))

<csv.DictReader object at 0x7f2c5c30d908>
<csv.DictReader object at 0x7f2c5c30d908>

In [35]:
cur.execute('SELECT * FROM characters')

In [36]:
cur.fetchall()

[(11, 'Harry', 'Potter', 17),
 (1, ' harry', ' potter', 17),
 (2, ' Hermaine', ' Granger', 17),
 (3, ' Ron', ' Weasly', 17),
 (4, ' Neville', ' Longbottom', 17),
 (5, 'Luna', 'Lovegood', 17),
 (6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19),
 (5, 'Luna', 'Lovegood', 17),
 (6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19)]

In [37]:
conn.commit()

In [39]:
cur.execute('SELECT * FROM characters WHERE firstname="Luna"')

In [40]:
cur.fetchall()

[(5, 'Luna', 'Lovegood', 17), (5, 'Luna', 'Lovegood', 17)]

In [41]:
cur.execute('SELECT * FROM characters WHERE firstname="Tom"')

In [42]:
cur.fetchall()

[(6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19),
 (6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19)]

In [43]:
cur.execute('SELECT * FROM characters WHERE firstname="Tom" and id="6"')

In [44]:
cur.fetchall()

[(6, 'Tom', 'Weasly', 19), (6, 'Tom', 'Weasly', 19)]

In [45]:
cur.execute('SELECT * FROM characters WHERE lastname LIKE "W%"')

In [46]:
cur.fetchall()

[(6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19),
 (6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19)]

In [47]:
cur.execute('SELECT * FROM characters WHERE lastname LIKE "%W%"')

In [48]:
cur.fetchall()

[(3, ' Ron', ' Weasly', 17),
 (6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19),
 (6, 'Tom', 'Weasly', 19),
 (7, 'Tom', 'Weasly', 19)]

In [49]:
cur.execute('UPDATE characters SET firstname="Bob" WHERE firstname="Tom"')

In [50]:
conn.commit()

In [51]:
cur.execute('SELECT * FROM characters')

In [52]:
cur.fetchall()

[(11, 'Harry', 'Potter', 17),
 (1, ' harry', ' potter', 17),
 (2, ' Hermaine', ' Granger', 17),
 (3, ' Ron', ' Weasly', 17),
 (4, ' Neville', ' Longbottom', 17),
 (5, 'Luna', 'Lovegood', 17),
 (6, 'Bob', 'Weasly', 19),
 (7, 'Bob', 'Weasly', 19),
 (5, 'Luna', 'Lovegood', 17),
 (6, 'Bob', 'Weasly', 19),
 (7, 'Bob', 'Weasly', 19)]

In [54]:
cur.execute('DELETE FROM characters WHERE id=7')

In [55]:
cur.execute('SELECT * FROM characters')

In [56]:
cur.fetchall()

[(11, 'Harry', 'Potter', 17),
 (1, ' harry', ' potter', 17),
 (2, ' Hermaine', ' Granger', 17),
 (3, ' Ron', ' Weasly', 17),
 (4, ' Neville', ' Longbottom', 17),
 (5, 'Luna', 'Lovegood', 17),
 (6, 'Bob', 'Weasly', 19),
 (5, 'Luna', 'Lovegood', 17),
 (6, 'Bob', 'Weasly', 19)]

In [57]:
cur.close()

### HDF5

In [58]:
import h5py

ModuleNotFoundError: No module named 'h5py'

In [ ]:
hf = h5py.File('datasets.h5', 'w')

In [ ]:
g1 = hf.create_group('ktm')

In [ ]:
hf

In [ ]:
g1

In [ ]:
g1.create_group('substation1')

In [ ]:
sg2 = g1.create_group('substation2')

In [ ]:
dt = sg2.create_dataset('statellite_image', (100,), dtype='i')

In [ ]:
dt

In [ ]:
dt?

In [ ]:
help(dt)

In [ ]:
dt.ndim

In [ ]:
dt.shape

In [ ]:
dt.value

In [ ]:
import numpy as np

In [ ]:
dt2 = sg2.create_dataset('random', data=np.arange(0, 12).reshape(2, 6))

In [ ]:
dt2

In [ ]:
dt2.value

In [ ]:
statsmodel